@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster+Two&display=swap');

/*--- headers and menu ---*/

.title {
    font-family: 'Lobster Two',cursive;
    font-size: 48px;
    font-weight: 500;
    color: #dd2c00;
    text-align: center;
}

.fa-luggage-cart {
    margin: 15px;
    font-size: 48px;
    color: #dd2c00;
}

.hero-image {
    background: url("../images/clock.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

    @media (max-width:900px) {
        .fa-globe-europe {
            display: none;
        }
    }

    @media (max-width:750px) {
        .hero-image {
            height: 15rem;
        }
    }

    .menu {
        text-align: center;
        color: #fff;
        font-family: "Special Elite",sans-serif;
        letter-spacing: 2px;
        font-size: 35px;
        font-weight: 500;
        padding-top: 4rem;
    }

    .menu a {
        color: #fff;
    }
    .active, .menu li:hover {
        font-weight: 700;
    }

    /*--- footer ---*/

    footer {
        color:#fafafa;
        padding: 1rem;
        background-color: #dd2c00;
        font-size: 18px;
        font-family: "Lobster Two",sans-serif;
    
    }

    /*--- facts ---*/

    .table {
        border: 1px solid #dd2c00;
        margin: 10px;
        padding: 0;
    }

    .flag {
        height: 85px;
        border: 1px solid black;
        margin: 10px 10px 10px 50px;
        
    }